[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "src/test/tree-sitter-python"]
	path = src/test/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "tree-sitter-sql"]
	path = tree-sitter-sql
	url = https://github.com/m-novikov/tree-sitter-sql
[submodule "tree-sitter-sql-bigquery"]
	path = tree-sitter-sql-bigquery
	url = https://github.com/takegue/tree-sitter-sql-bigquery
